// Définition des couleurs principales
$primary-color: #3498db; // Bleu
$secondary-color: #2ecc71; // Vert
$background-color: #ecf0f1; // Gris clair
$text-color: #2c3e50; // Gris foncé

// Couleurs additionnelles
$danger-color: #e74c3c; // Rouge
$warning-color: #f1c40f; // Jaune
$info-color: #8e44ad; // Violet
